.wholeStatsPage {
  width: 100vw;
  height: 100vh;
  background-color: #182628;
}

.cardAddCard2 {
  height: 775px;
  width: 1365px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 5);
  text-align: center;
}
.backToHome2 {
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  background-image: url("./newBack.png");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 67%;
  cursor: pointer;
}
.cardTitle2 {
  display: inline-block;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #182628;
  text-align: center;
}
.graphContainer {
  margin: auto;
  margin-left: 100px;
  text-align: left;
  margin-top: 50px;
  width: 1000px;
  height: 600px;
}
.graphLabels {
  display: inline-block;
  height: 100%;
  width: 200px;
  font-size: 37px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #182628;
}
.actualGraph {
  position: absolute;
  display: inline-block;
  width: 800px;
  height: 600px;
  border-bottom: solid;
  border-left: solid;
  border-color: #182628;
}
.aBar {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: #3f681c;
}
.rBar {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  background-color: #fb6542;
}
.pBar {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  background-color: #ffbb00;
}
.nBar {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  background-color: #375e97;
}

.aLabel {
  padding-left: 10px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.rLabel {
  padding-left: 10px;
  height: 100px;
  margin-bottom: 50px;
}
.pLabel {
  padding-left: 10px;
  height: 100px;
  margin-bottom: 50px;
}
.nLabel {
  padding-left: 10px;
  height: 100px;
  margin-bottom: 50px;
}
