/* ~~~~~~not used~~~~~~~~
.confirmChange {
  display: none;
  background-color: #94618e;
  color: #f8eee7;
  border: none;
  outline: none;
  width: 125px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
}
.confirmChange:hover {
  cursor: pointer;
}
.discardChange {
  display: none;
  background-color: #94618e;
  color: #f8eee7;
  border: none;
  outline: none;
  width: 125px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
}
.discardChange:hover {
  cursor: pointer;
}
.underTopBar {
  width: 1500px;
  margin-left: 225px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}
.viewCompany {
  margin-top: 50px;
  font-size: 70px;
  font-weight: bold;
  width: auto;
  height: auto;
  display: block;
}
.viewJobTitle {
  font-size: 40px;
  width: auto;
  height: auto;
  display: block;
}
.viewLocation {
  font-size: 25px;
  width: auto;
  height: auto;
  display: block;
}
.viewDateApplied {
  font-size: 25px;
  width: auto;
  height: auto;
  display: block;
}
.viewSalary {
  font-size: 25px;
  width: auto;
  height: auto;
  display: block;
}
.viewStatus {
  font-size: 25px;
  width: auto;
  height: auto;
  display: block;
}
.jobDescLabel {
  font-size: 30px;
  margin-bottom: 0px;
  width: auto;
  height: auto;
  display: block;
}
.viewJobDesc {
  border: none;
  outline: none;
  font-size: 30px;
  margin-bottom: 0px;
  width: 1500px;
  height: 450px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}
.submitted {
  position: absolute;
  margin-left: 900px;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #94618e;
  opacity: 0;
}
.backToHomeView {
  position: absolute;
  margin-top: 140px;
  margin-left: 1830px;
  background-image: url(./back.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 67%;
  cursor: pointer;
}
.deleteCardView {
  position: absolute;
  margin-top: 360px;
  margin-left: 1825px;
  background-image: url(./deleteCard.png);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 67%;
  cursor: pointer;
}
.updateCardView {
  position: absolute;
  margin-top: 240px;
  margin-left: 1830px;
  background-image: url(./edit.png);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 67%;
  cursor: pointer;
}
.viewCardBack {
  display: inline-block;
  margin-top: 30px;
  margin-left: 35px;
  background-image: url(./viewCardBack.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 67%;
  cursor: pointer;
}
.viewCardFront {
  display: inline-block;
  margin-top: 30px;
  margin-left: 350px;
  background-image: url(./viewCardFront.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 67%;
  cursor: pointer;
}
~~~~~~~~updates to view card~~~~~~~~*/
.deleteCard3 {
  position: absolute;
  background-image: url("./deleteCard.png");
  width: 30px;
  height: 35px;
  margin-left: 25px;
  margin-top: 5px;
  background-size: 100% 100%;
  cursor: pointer;
}
.wholeCardPage3 {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #9cc39c;
}
textarea {
  resize: none;
}
.cardTopBar3 {
  height: 104px;
  width: 100%;
}
.topBarCard3 {
  cursor: pointer;
}
.cardAddCard3 {
  height: 775px;
  width: 1365px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 5);
}

.submitAddCard3 {
  display: inline-block;
  width: 175px;
  height: 50px;
  margin-top: 55px;
  margin-left: 1085px;
  background-color: #9cc39c;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #f2f2f2;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.submitAddCard3:hover {
  cursor: pointer;
}

.logo23 {
  display: inline-block;
  position: absolute, relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 26px;
  width: 70px;
  height: 55px;
  background-image: url(./newLogo.png);
}

.siteNameDiv3 {
  margin-top: 25px;
  margin-left: 10px;
  position: absolute;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  color: black;
  font-weight: normal;
}
options {
  font-weight: normal;
}
.siteName3 {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.cardAddCard3 {
  display: block;
}

.backToHome3 {
  display: inline-block;
  margin-top: 25px;
  margin-left: 25px;
  background-image: url(newBack.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 67%;
  cursor: pointer;
}

.cardTitle3 {
  display: inline-block;
  margin-left: 430px;
  margin-top: 0px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #9cc39c;
  text-align: center;
}

.cmpName3 {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 100px;
  margin-top: 50px;
  width: 780px;
  height: 25px;
  border-radius: 5px;
  background-color: #9cc39c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: black;
  border: solid;
  border-width: 2px;
  border-color: #9cc39c;
  font-weight: normal;
}

.Date3 {
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
  width: 340px;
  height: 27px;
  border-radius: 5px;

  color: black;
  border: solid;
  border-width: 2px;
  border-color: #9cc39c;
  background-color: #9cc39c;
  font-weight: normal;
  font-size: 20px;
}

.Position3 {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 100px;
  margin-top: 25px;
  width: 780px;
  height: 25px;
  border-radius: 5px;
  background-color: #9cc39c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: black;
  border: solid;
  border-width: 2px;
  border-color: #9cc39c;
  font-weight: normal;
}

.Status3 {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
  width: 345px;
  height: 30px;
  border-radius: 5px;
  background-color: #9cc39c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: black;
  border: solid;
  border-width: 2px;
  border-color: #9cc39c;
  font-weight: normal;
}
.Status3:focus {
  background-color: white;
}
input::placeholder {
  color: #6f6868;
  font-size: 20px;
}
textarea::placeholder {
  color: #6f6868;
  font-size: 20px;
}
textarea:focus {
  background-color: white;
}

.Location3 {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 100px;
  margin-top: 25px;
  width: 559px;
  height: 25px;
  border-radius: 5px;
  background-color: #9cc39c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: black;
  border: solid;
  border-width: 2px;
  border-color: #9cc39c;
  font-weight: normal;
}

.Salary3 {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
  width: 559px;
  height: 25px;
  border-radius: 5px;
  background-color: #9cc39c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: black;
  border: solid;
  border-width: 2px;
  border-color: #9cc39c;
  font-weight: normal;
}

.Contact3 {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 100px;
  margin-top: 25px;
  width: 559px;
  height: 25px;
  border-radius: 5px;
  background-color: #9cc39c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: black;
  border: solid;
  border-width: 2px;
  border-color: #9cc39c;
  font-weight: normal;
}

.AppNum3 {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
  width: 559px;
  height: 25px;
  border-radius: 5px;
  background-color: #9cc39c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: black;
  border: solid;
  border-width: 2px;
  border-color: #9cc39c;
  font-weight: normal;
}

.Description3 {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 100px;
  margin-top: 25px;
  width: 1150px;
  height: 250px;
  background-color: #9cc39c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  border-width: 2px;
  border-color: #9cc39c;
  border-radius: 5px;
  font-weight: normal;
  outline: none;
}
