.wholeAppliCard {
  width: 460px;
  height: 195px;
  border-radius: 10px;
  background-color: aliceblue;
}
.appliComp {
  color: #152628;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 40px;
  margin-left: 15px;
  margin-top: 10px;
  display: inline-block;
}
.wholeAppliCard:hover {
  cursor: pointer;
}
