:root {
  --firstPos: 20px;
  --secondPos: 320px;
  --thirdPos: 650px;
  --fourthPos: 1020px;
  --fifthPos: 1320px;
}
.wholeAppliCardList {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 0;
  color: #152628;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  height: 30px;
  width: 100%;
  border-top: 1px solid #152628;
}
.label1 {
  position: absolute;
  margin-left: var(--firstPos);
}
.label2 {
  position: absolute;
  margin-left: var(--secondPos);
}
.label3 {
  margin-left: var(--thirdPos);
  position: absolute;
}
.label4 {
  margin-left: var(--fourthPos);
  position: absolute;
}
.label5 {
  margin-left: var(--fifthPos);
  position: absolute;
}

.wholeAppliCard {
  width: 460px;
  height: 195px;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.appliComp {
  color: #152628;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 40px;
  margin-left: 15px;
  margin-top: 10px;
  display: inline-block;
}
.wholeAppliCard:hover {
  cursor: pointer;
}
.statusImg {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}
.jobTitleAppliCard {
  margin-left: 15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
