:root {
  --firstPos: 20px;
  --secondPos: 320px;
  --thirdPos: 650px;
}
.wholeNotiCard {
  color: #182628;
  border-bottom: solid;
  border-color: #182628;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}
.wholeNotiCard:hover {
  background-color: rgb(75, 106, 75, 0.3);
}
.notiCompany {
  position: absolute;
  font-size: 20px;
  color: #182628;
  display: inline-block;
  margin-left: var(--firstPos);
}
.notiDate {
  position: absolute;
  font-size: 20px;
  color: #182628;
  display: inline-block;
  margin-left: var(--secondPos);
}
.notiTitle {
  font-size: 20px;
  color: #182628;
  display: inline-block;
  margin-left: var(--thirdPos);
}
