#loginForm {
  margin: 0;
  color: rgb(255, 255, 255);
}

.loginWhole {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  background-size: 100% 100%;
  background-image: url(./bgImage.png);
  font-family: Arial, Helvetica, sans-serif;
}
.topBar {
  margin: 0;
  position: relative;
}
.logoPhoto {
  background-image: url(./mlogo.png);
  display: inline-block;

  color: #fbeee7;
  margin-left: 100px;
  margin-top: 340px;
  height: 170px;
  width: 170px;
  background-repeat: no-repeat;
  background-size: 95%;
  cursor: pointer;
}

.catchPhraseDiv {
  position: absolute;
  top: 480px;
  margin-left: -205px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;

  color: #8d8d8d;
  /*font-weight: bold;*/
}
.catchPhrase {
  /*text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);*/
  font-size: 200%;
}
.webNameDiv {
  position: absolute;
  top: 340px;
  margin-left: -15px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130px;
  color: #96c096;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.loginBlock {
  font-weight: bold;
  margin: auto;
  margin-top: -350px;
  margin-right: 150px;
  width: 600px;
  height: 690px;
  border-radius: 15px;
  background-color: #f2f2f2;
  text-align: center;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transform: rotateY(0deg);
}
.loginBlock figure {
  position: absolute;
}
.loginBlockFront {
  transition: opacity 0.5s linear;
  pointer-events: auto;
}
.loginBlockBack {
  transition: opacity 0.5s linear;
  pointer-events: none;
}
.loginBlockBack {
  transform: rotateY(180deg);
}
.loginTitle {
  display: inline-block;
  position: fixed;
  margin-top: 100px;
  margin-left: 100px;

  font-size: 50px;
  color: #9cc39c;
}

.text1 {
  position: fixed;
  margin-top: 200px;
  margin-left: -30px;
  border-color: #9c9c9c;
  border-style: solid;
  border-width: 1px;
  width: 420px;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 20px;
  font-weight: normal;
  font-size: 25px;

  color: #000000;
}
.text2 {
  position: fixed;
  margin-top: 300px;
  margin-left: -30px;
  width: 420px;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 20px;
  font-weight: bold;
  font-size: 25px;
  border-color: #9c9c9c;
  border-style: solid;
  font-weight: normal;
  border-width: 1px;
}

.signInButton {
  position: fixed;
  margin-top: 400px;
  margin-left: 70px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 35px;
  color: #f2f2f2;
  border-radius: 10px;
  height: 65px;
  width: 200px;
  border-right: 30px;
  background-color: #9cc39c;
  border: none;
  /*box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);*/
}

.signUpTitle {
  display: inline-block;
  position: fixed;
  margin-top: 100px;
  margin-left: -170px;

  font-size: 50px;
  color: #9cc39c;
}
.emailInvalid {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  color: red;
}
.pswdInvalid {
  margin-top: 0;
  opacity: 0;
  color: red;
}
.emailInvalid2 {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  color: red;
}
.pswdInvalid2 {
  margin-top: 0;
  opacity: 0;
  color: red;
}

.emailEnter {
  margin-top: 200px;
  margin-left: -300px;
  position: fixed;
  border-style: solid;
  border-width: 1px;
  border-color: 9c9c9c;
  width: 456px;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}
.usrnmEnter {
  margin-top: 300px;
  margin-left: -300px;
  position: fixed;
  border-style: solid;
  border-width: 1px;
  border-color: 9c9c9c;
  width: 456px;
  height: 60px;
  background-color: #dbd8d8;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}
.pswdEnter {
  margin-top: 300px;
  margin-left: -300px;
  position: fixed;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: 9c9c9c;
  width: 456px;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
}
.confirmPswdEnter {
  margin-top: 20px;
  margin-bottom: 0;
  border: none;
  width: 456px;
  height: 60px;
  background-color: #dbd8d8;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  color: #9cc39c;
}
.createAccountButton {
  position: fixed;
  margin-top: 400px;
  margin-left: -185px;

  font-weight: bold;
  font-size: 25px;
  color: #f2f2f2;
  border-radius: 10px;
  height: 65px;
  width: 200px;
  border-right: 30px;
  background-color: #9cc39c;
  border: none;
}
input:focus {
  outline: none;
  background-color: white;
}
.forgotUserPass {
  position: fixed;
  margin-top: 500px;
  margin-left: 160px;
  font-weight: normal;
  color: #8d8d8d;
  display: block;
  font-weight: bold;
  cursor: pointer;
}
.signUpButton {
  display: inline-block;
  float: right;
  font-weight: bold;
  font-size: 35px;
  color: #f2f2f2;
  margin-right: 150px;
  margin-top: 40px;
  border-radius: 10px;
  height: 65px;
  width: 150px;
  background-color: #9cc39c;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.signInButton:active {
  background-color: #000000;
}
.signUpButton:active {
  background-color: #9cc39c;
}
.createAccountButton:active {
  background-color: #9cc39c;
}
.signInButton:hover {
  cursor: pointer;
}
.signUpButton:hover {
  cursor: pointer;
}
.createAccountButton:hover {
  cursor: pointer;
}
*:focus::placeholder {
  color: transparent;
}
::placeholder {
  font-size: 25px;
  font-family: sans-serif;
  color: #c2c2c2;
  margin-left: 10px;
}
