#loginForm {
  margin: 0;
  color: rgb(255, 255, 255);
}

.wholeForgot {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  background-size: 100% 100%;
  background-image: url(./bgImage.png);
  font-family: Arial, Helvetica, sans-serif;
}

.forgotPasswordBlock {
  font-weight: bold;
  margin: auto;
  margin-top: 110px;
  /*margin-right: 150px;*/
  width: 649px;
  height: 717px;
  border-radius: 15px;
  background-color: #f2f2f2;
  text-align: center;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transform: rotateY(0deg);
  align-self: center;
}

.forgotBlockMain {
  margin: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s linear;
  pointer-events: auto;
  text-align: center;
}

.backButton {
  background-image: url(./newBack.png);
  position: fixed;
  display: inline-block;
  color: #fbeee7;
  margin-left: -290px;
  margin-top: 40px;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: 95%;
  cursor: pointer;
}

.passwordReset {
  display: inline-block;
  position: fixed;
  margin-top: 88px;
  margin-left: -190px;
  font-size: 50px;
  color: #9cc39c;
}

.emailInput {
  position: fixed;
  margin-top: 266px;
  margin-left: -250px;
  border-color: #9c9c9c;
  border-style: solid;
  border-width: 1px;
  width: 491px;
  height: 80px;
  background-color: #f2f2f2;
  border-radius: 25px;
  font-weight: normal;
  font-size: 30px;
  color: #9cc39c;
}

.emailInput::placeholder {
  font-size: 30px;
  color: #c2c2c2;
  font-weight: lighter;
}

.Email {
  font-size: 24pt;
}

.resetButton {
  position: fixed;
  margin-top: 424px;
  margin-left: -120px;
  font-weight: bold;
  font-size: 35px;
  color: #f2f2f2;
  border-radius: 25px;
  height: 79px;
  width: 215px;
  border-right: 30px;
  background-color: #9cc39c;
  border: none;
}

.successfulSend {
  position: fixed;
  margin-left: -110px;
  margin-top: 582px;
  text-align: center;
  font-weight: bold;
  font-size: 15pt;
  color: #8d8d8d;
}

.unsuccessfulSend {
  position: fixed;
  margin-top: 600px;
  margin-left: -180px;
  font-weight: bold;
  color: #8d8d8d;
}
