.cardTopBar {
  height: 50px;
  width: 50px;
  background-color: black;
}

.cardAddCard {
  height: 500px;
  width: 500px;
  background-color: black;
}

.submitAddCard {
  width: 100px;
  height: 100px;
}
