.wholeCardPage {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #182628;
}
textarea {
  resize: none;
}
.cardTopBar {
  height: 104px;
  width: 100%;
  background-color: #182628;
}
.topBarCard {
  background-color: #182628;
  cursor: pointer;
}
.cardAddCard {
  height: 775px;
  width: 1365px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 5);
}

.submitAddCard {
  display: inline-block;
  width: 175px;
  height: 50px;
  margin-top: 55px;
  margin-left: 1085px;
  background-color: #9cc39c;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #f2f2f2;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.submitAddCard:hover {
  cursor: pointer;
}

.logo2 {
  display: inline-block;
  position: absolute, relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 15px;
  width: 70.35px;
  height: 55px;
  background-image: url(./newLogo.png);
}

.siteNameDiv {
  margin-top: 13px;
  margin-left: 7px;
  position: absolute;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  color: #f2f2f2;
  font-weight: bold;
}
options {
  font-weight: normal;
}
.siteName {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.cardAddCard {
  display: block;
}

.backToHome {
  display: inline-block;
  margin-top: 25px;
  margin-left: 25px;
  background-image: url(newBack.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 67%;
  cursor: pointer;
}

.cardTitle {
  display: inline-block;
  margin-left: 430px;
  margin-top: 0px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #9cc39c;
  text-align: center;
}

.cmpName {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 100px;
  margin-top: 50px;
  width: 780px;
  height: 25px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: #6f6868;
  border: solid;
  border-width: 2px;
  border-color: #6f6868;
  font-weight: normal;
}

.Date {
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
  width: 340px;
  height: 27px;
  border-radius: 5px;

  color: #6f6868;
  border: solid;
  border-width: 2px;
  border-color: #6f6868;
  background-color: #f2f2f2;
  font-weight: normal;
  font-size: 20px;
}

.Position {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 100px;
  margin-top: 25px;
  width: 780px;
  height: 25px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: #6f6868;
  border: solid;
  border-width: 2px;
  border-color: #6f6868;
  font-weight: normal;
}

.Status {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
  width: 345px;
  height: 30px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: #6f6868;
  border: solid;
  border-width: 2px;
  border-color: #6f6868;
  font-weight: normal;
}

.Location {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 100px;
  margin-top: 25px;
  width: 559px;
  height: 25px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: #6f6868;
  border: solid;
  border-width: 2px;
  border-color: #6f6868;
  font-weight: normal;
}

.Salary {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
  width: 559px;
  height: 25px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: #6f6868;
  border: solid;
  border-width: 2px;
  border-color: #6f6868;
  font-weight: normal;
}

.Contact {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 100px;
  margin-top: 25px;
  width: 559px;
  height: 25px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: #6f6868;
  border: solid;
  border-width: 2px;
  border-color: #6f6868;
  font-weight: normal;
}

.AppNum {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
  width: 559px;
  height: 25px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: #6f6868;
  border: solid;
  border-width: 2px;
  border-color: #6f6868;
  font-weight: normal;
}

.Description {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 100px;
  margin-top: 25px;
  width: 1150px;
  height: 250px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #6f6868;
  border-width: 2px;
  border-color: #6f6868;
  border-radius: 5px;
  font-weight: normal;
  border: solid;
  outline: none;
}
.Description:focus {
  border: solid;
}
input {
  outline: none;
  background-color: white;
  height: 25px;
  width: 300px;
}
